<template name="salaMesas">
  
  <div id="salaMesas"  width="100%" height="60%" >
      {{#each partidasActivas}}
        <table class="mesa"  width="20%" height="50%"   >
          <tr>
            
            <td width="50%"> 
              {{this.name}} 
              <br>
              <img name={{this.name}} src="images/table.png" width="100%"/>      
            </td>
            
            
            <td>
              {{#if quedaSitio this.name}}
              <input id="joinTable" type="button" name={{this.name}} value = "Join" />
              {{/if}}
              <br>
              <input id="watchTable" type="button" name={{this.name}} value = "Watch" />
              <br>
              {{peoplePlaying this.name}} / 5
            </td>
            
          </tr>
          
        </table>
     {{/each}}
  </div>  
  <div id="creadorMesas" >
    Create new Table
    <br>
    <input type="text" id="nombreMesa" />
    <br>
    <input type="button" value="create" id="crear"/>
  </div>
</template>