<template name="optionsBar" >

  
  <div id = "optionsBar">
    {{#if gamer}}
    <img id="spock" class = "option" src = "images/spock.png" />
    <img id="rock" class = "option" src = "images/rock.png" />
    <img id="paper" class = "option" src = "images/paper.png" />
    <img id="scissors" class = "option" src = "images/scissors.png" />
    <img id="lizard" class = "option" src = "images/lizard.png" />
    {{/if}}
    <br>
    <input id="salir" type="button" value="Leave Table" >
  </div>

</template>
  